@charset "UTF-8";

.sub-contents {
	width: 100%;
}

#contents {
	position: relative;
}

.donation-container {
	padding: 100px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
}

.donation-info {
	width: 32%;
	padding: 30px;
}

.donation-info h2 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 18px;
	color: #333;
}

.donation-amount {
	margin-top: 25px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.donation-period span,
.donation-amount span {
	display: inline-block;
	font-size: 14px;
	color: #666;
	margin-right: 10px;
	white-space: nowrap;
}
.donation-amount ul {
	list-style-type: none;
	width: 400px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.donation-amount ul li {
	height: 50px;
	padding: 5px;
	margin: 0 auto;
}

.amount-option {
	width: 110px; 
	height: 50px; 
	display: flex;
	align-items: center; 
	justify-content: center; 
	font-size: 14px;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	cursor: pointer;
	border-radius: 5px;
	color: #333;
	text-align: center;
}

.period-option.active,
.amount-option.active {
	background-color: #f37421;
	color: #ffffff;
	border: none;
}

.radio-button {
	display: none;
}
.radio-button+label {
	margin: 0 auto;
}
.radio-button:checked+label {
	background-color: #49b848;
	color: #ffffff;
	border: none;
	transform: scale(104%,104%);
}

.supportBox {
	margin-top: 20px;
	text-align: center;
}

#supportBtn {
	background-color: #49b848;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
}

.left_box,
.right_box {
	width: 32%;
	/*height: 512px;*/
}
.left_box img{
	width: 100%;
}
.right_box img{
	width: 100%;
}
.donation-text {
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}

.donation-text span {
	font-size: 40px;
	line-height: 60px;
}